@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'kindHeart';
    src: url('/assets/font/kind_heart.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }